.delete-container {
    background-color: #fff;
    max-width: 80%;
    margin: 50px 0;
    padding: 15px 15px 15px 30px;
}

.sistem-question {
    font-size: 18px;
}
.user-to-delete {
    color: #1e90ff;
    font-weight: bold;
}

.decision {
    text-align: right;
}

.decision-btns {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 140px;
    width: 140px;
    color: #000;
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.decision-btns:hover {
    background-color: #1e90ff;
    color: #fff;
}


